<div class="small-container">
    <div class="row row-2">
        <h2>Featured Products </h2>
        <select>
            <option>Default Sorting</option>
            <option>Sort By Price</option>
            <option>Sort By Popularity</option>
            <option>Sort By Newest</option>
        </select>
    </div>
    
    <div class="row" >
        <div class="col-4" *ngFor="let tempProduct of products | slice:0:4;">
            <app-product [price]="tempProduct.price" [displayImage]="tempProduct.displayImage" [title]="tempProduct.title" [id]="tempProduct.id">
            </app-product>
        </div>
        <div class="col-4" *ngFor="let tempProduct of products | slice:4:8;">
            <app-product [price]="tempProduct.price" [displayImage]="tempProduct.displayImage" [title]="tempProduct.title" [id]="tempProduct.id">
            </app-product>
        </div>
        <div class="col-4" *ngFor="let tempProduct of products | slice:8:12;">
            <app-product [price]="tempProduct.price" [displayImage]="tempProduct.displayImage" [title]="tempProduct.title" [id]="tempProduct.id">
            </app-product>
        </div>
    </div>
    <!-- pagination -->

    <div class="page-btn">
        <ngb-pagination class="paging" [(page)]="thePageNumber"
                        [pageSize]="thePageSize"
                        [collectionSize]="theTotalElements"
                        (pageChange)="listProducts()">

        </ngb-pagination>
    </div>

    <!-- <div class="page-btn">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>&#8594;</span>
    </div> -->
</div>