.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;

}

.col-4:hover{
    transform: translateY(-5px);
}

.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    line-height: 60px;
    color: #555;
}
.divider{
    background: #ff523b;
    width: 80px;
    height: 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

h4{
    color:  #555;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}

select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}


ngb-pagination{
    margin: 10px  80px;
}


ngb-pagination /deep/ .page-item{
    display: inline-block;
}

ngb-pagination /deep/ .page-link{
    border: 1px solid #ff523b;
    margin-left: 10px;
    padding: 10px;
    
    line-height: 40px;
   
    cursor: pointer;
}

ngb-pagination /deep/ .page-link:hover{
    background-color: #ff523b;
    color: white;
}

ngb-pagination /deep/ .active > .page-link{
  background-color: #740e01;
  color: white;
}

ngb-pagination /deep/ .visually-hidden{
    display: none;
}
