<div class="small-container">
    <div class="row row-2">
        <h2>Featured Products </h2>
        <select>
            <option>Default Sorting</option>
            <option>Sort By Price</option>
            <option>Sort By Popularity</option>
            <option>Sort By Newest</option>
        </select>
    </div>
    
    <div class="row">
        <div class="col-4">
            <app-product [price]="300" [imagesURL]="['../assets/images/product-1.jpg']" [title]="'Red Printed T-Shirt'">
            </app-product>
        </div>
        <div class="col-4">
            <app-product [price]="1399" [imagesURL]="['../assets/images/product-2.jpg']" [title]="'HRX Black Shoes'">
            </app-product>
        </div>
        <div class="col-4">
            <app-product [price]="699" [imagesURL]="['../assets/images/product-3.jpg']" [title]="'Grey Joggers'">
            </app-product>
        </div>
        <div class="col-4">
            <app-product [price]="300" [imagesURL]="['../assets/images/product-4.jpg']" [title]="'Red Printed T-Shirt'">
            </app-product>
        </div>
        <div class="col-4">
            <app-product [price]="1399" [imagesURL]="['../assets/images/product-5.jpg']" [title]="'HRX Black Shoes'">
            </app-product>
        </div>
        <div class="col-4">
            <app-product [price]="699" [imagesURL]="['../assets/images/product-6.jpg']" [title]="'Grey Joggers'">
            </app-product>
        </div><div class="col-4">
            <app-product [price]="300" [imagesURL]="['../assets/images/product-7.jpg']" [title]="'Red Printed T-Shirt'">
            </app-product>
        </div>
        <div class="col-4">
            <app-product [price]="1399" [imagesURL]="['../assets/images/product-8.jpg']" [title]="'HRX Black Shoes'">
            </app-product>
        </div>
        <div class="col-4">
            <app-product [price]="1399" [imagesURL]="['../assets/images/product-2.jpg']" [title]="'HRX Black Shoes'">
            </app-product>
        </div>
        <div class="col-4">
            <app-product [price]="699" [imagesURL]="['../assets/images/product-3.jpg']" [title]="'Grey Joggers'">
            </app-product>
        </div>
        <div class="col-4">
            <app-product [price]="300" [imagesURL]="['../assets/images/product-4.jpg']" [title]="'Red Printed T-Shirt'">
            </app-product>
        </div>
        <div class="col-4">
            <app-product [price]="1399" [imagesURL]="['../assets/images/product-5.jpg']" [title]="'HRX Black Shoes'">
            </app-product>
        </div>
    </div>
    <div class="page-btn">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>&#8594;</span>
    </div>
</div>