<div class="small-container cart-page">
    <div *ngIf="cartItems.length > 0;else elseBlock">
        <table>
            <tr>
                <th>Product</th>
                <th>Size</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
            <tr *ngFor="let cartItem of cartItems">
                <td>
                    <div class="cart-info">
                        <img src={{cartItem.imageUrl}}>
                        <div>
                            <p>{{cartItem.title}}</p>
                            <small>Price: Rs {{cartItem.unitPrice}}</small>
                            <br>
                            <a href="#" class="remove">Remove</a>
                        </div>
                    </div>
                </td>
                <td>{{cartItem.size}}</td>
                <td>    
                    <input type="number" value={{cartItem.quantity}} readonly>
                </td>
                <td>Rs {{cartItem.quantity*cartItem.unitPrice}}</td>
            </tr>
        </table>

        <div class="total-price">
            <table>
                <tr>
                    <td>Subtotal</td>
                    <td>Rs {{subTotal | number}}</td>
                </tr>
                <tr>
                    <td>Tax</td>
                    <td>Rs {{tax | number}}</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>Rs {{total}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="" class="btn">Check-Out</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <ng-template #elseBlock>
       <img src='../assets/images/empty cart.png' alt="">
    </ng-template>
</div>