.cart-page{
    margin: 40px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: white;
    background: #ff523b;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

.remove{
    color: #ff523b;
    font-size: 12px;
    cursor: pointer;
}

td img{
    width: 80px;
    height: 120px;
    margin-right: 10px;
    object-fit: cover;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}


