<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img [src]="currentImage" id="product-img" width="100%">
            <div class="small-img-row" >
                <div class="small-img-col" *ngFor="let imgUrl of imageList">
                    <img [src]='imgUrl' width="100%" (click)="changeImage(imgUrl)">
                </div>
            </div>

        </div>
        <div class="col-2">
            <p>Home / T-Shirt</p>
            <h1>Red Printed T-Shirt by HRX</h1>
            <h4>Rs 399</h4>
            <select>
                <option>Select Size</option>
                <option>Medium</option>
                <option>Large</option>
                <option>XL</option>
            </select>
            <input type="number" value="1">
            <a href="" class="btn">Add To Cart</a>
            <br>
            <h3>Product Details <i class="fa fa-indent"></i></h3>
            <br>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores blanditiis delectus ipsam rem labore
                est possimus officiis nisi repellat doloremque!</p>
        </div>
    </div>
</div>
<!-- title -->
<div class="small-container">
    <div class="row row-2">
        <h2>Related Products</h2>
        <p>View More</p>
    </div>
</div>


<!-- Products -->
<div class="small-container">
    <div class="row">
        <div class="col-4">
            <app-product [price]="300" [imagesURL]="['../assets/images/product-1.jpg']" [title]="'Red Printed T-Shirt'">
            </app-product>
        </div>
        <div class="col-4">
            <app-product [price]="1399" [imagesURL]="['../assets/images/product-2.jpg']" [title]="'HRX Black Shoes'">
            </app-product>
        </div>
        <div class="col-4">
            <app-product [price]="699" [imagesURL]="['../assets/images/product-3.jpg']" [title]="'Grey Joggers'">
            </app-product>
        </div>
        <div class="col-4">
            <app-product [price]="300" [imagesURL]="['../assets/images/product-4.jpg']" [title]="'Red Printed T-Shirt'">
            </app-product>
        </div>
    </div>
</div>