<div class="container">
    <div class="row">
        <div class="col-2">
            <h1> Let Your Style Depict <br>Who You Are! </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                laboriosam doloremque,<br> repudiandae aperiam earum adipisci! Qui voluptatibus labore expedita
                inventore
                aspernatur officiis nam.</p>
            <br>
            <a href="" class="btn">Explore Now &#8594;</a>
  
        </div>
        <div class="col-2">
            <img src="..\assets\images\image1.png">
        </div>
    </div>
  </div>
  
  <!------ featured categories ------->
  
  <div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <img src="..\assets\images\category-1.jpg">
            </div>
            <div class="col-3">
                <img src="..\assets\images\category-2.jpg">
            </div>
            <div class="col-3">
                <img src="..\assets\images\category-3.jpg">
            </div>
        </div>
    </div>
  </div>
  
  <!------ featured products ------->
  
  
  <div class="small-container">
    <h2 class="title">Featured Products <br>
        <div class="divider"></div>
    </h2>
  
    <div class="row">
        <div class="col-4">
            <app-product [price]="300" [imagesURL]="['../assets/images/product-1.jpg']" [title]="'Red Printed T-Shirt'">
            </app-product>
        </div>
        <div class="col-4">
            <app-product [price]="1399" [imagesURL]="['../assets/images/product-2.jpg']" [title]="'HRX Black Shoes'">
            </app-product>
        </div>
        <div class="col-4">
            <app-product [price]="699" [imagesURL]="['../assets/images/product-3.jpg']" [title]="'Grey Joggers'">
            </app-product>
        </div>
        <div class="col-4">
            <img src="..\assets\images\product-4.jpg">
            <h4>Black Polo T-Shirt</h4>
            <p>Rs 399</p>
        </div>
    </div>
    <h2 class="title">Latest Products <br>
        <div class="divider"></div>
    </h2>
  
    <div class="row">
        <div class="col-4">
            <img src="..\assets\images\product-5.jpg">
            <h4>White Boots</h4>
            <p>Rs 1399</p>
        </div>
        <div class="col-4">
            <img src="..\assets\images\product-6.jpg">
            <h4>Puma Black T-Shirt</h4>
            <p>Rs 399</p>
        </div>
        <div class="col-4">
            <img src="..\assets\images\product-7.jpg">
            <h4>HRX Socks</h4>
            <p>Rs 399</p>
        </div>
        <div class="col-4">
            <img src="..\assets\images\product-8.jpg">
            <h4>FOSSIL Watch</h4>
            <p>Rs 2399</p>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="..\assets\images\product-9.jpg">
                <h4>Classic Wrist Watch</h4>
                <p>Rs 1399</p>
            </div>
            <div class="col-4">
                <img src="..\assets\images\product-10.jpg">
                <h4>HRX Black Shoes</h4>
                <p>Rs 1399</p>
            </div>
            <div class="col-4">
                <img src="..\assets\images\product-11.jpg">
                <h4>HRX White Shoew</h4>
                <p>Rs 1699</p>
            </div>
            <div class="col-4">
                <img src="..\assets\images\product-12.jpg">
                <h4>HRX Black Joggers</h4>
                <p>Rs 699</p>
            </div>
        </div>
    </div>
  </div>
  <!-- --------- offer section -------- -->
  <div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="..\assets\images\exclusive.png" class="offer-img">
            </div>
            <div class="col-2">
                <p>Exclusively Available on PolyAttire</p>
                <h1>Smart Band 4</h1>
                <small>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti quidem nesciunt repellat eum
                    ea eius, voluptate, iste fugiat iure ipsa beatae provident eaque doloremque placeat fugit
                    corporis nihil?
                </small>
                <br>
                <a href="" class="btn">Buy Now &#8594;</a>
            </div>
        </div>
    </div>
  </div>
  
  <!-- ---------testimonial--------- -->
  <div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae omnis magnam amet aliquam,
                    soluta
                    fugiat?</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <img src="..\assets\images\user-1.png">
                <h3>Natasha Hike</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae omnis magnam amet aliquam,
                    soluta
                    fugiat?</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="..\assets\images\user-2.png">
                <h3>Brolly Saiyan</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae omnis magnam amet aliquam,
                    soluta
                    fugiat?</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <img src="..\assets\images\user-3.png">
                <h3>Jack 'crack</h3>
            </div>
        </div>
    </div>
  </div>
  
  <!-- --------------brands----------- -->
  
  <div class="brands">
    <div class="small-container">
        <div class="row">
            <div class="col-5">
                <img src="..\assets\images\logo-godrej.png">
            </div>
            <div class="col-5">
                <img src="..\assets\images\logo-oppo.png">
            </div>
            <div class="col-5">
                <img src="..\assets\images\logo-coca-cola.png">
            </div>
            <div class="col-5">
                <img src="..\assets\images\logo-paypal.png">
            </div>
            <div class="col-5">
                <img src="..\assets\images\logo-philips.png">
            </div>
        </div>
    </div>
  </div>