<div class="ribbon">
  <a href="#">Under Development</a>
</div>
<div class="header">
  <div class="container">
      <div class="navbar">
          <div class="logo">
              <img src="..\assets\images\logo.png" width="125px">
          </div>
          <nav>
              <ul [ngStyle]="{'maxHeight': clickedMenu ? '250px' : '0px' }">
                  <li><a href="">Home</a></li>
                  <li><a routerLink="/category/1"  routerLinkActive="active-link">Men's T-shirt</a></li>
                  <li><a routerLink="/category/2" routerLinkActive="active-link">Woman's T-shirt</a></li>
                  <li><a href="">Account</a></li>
              </ul>
          </nav>
          <img src="..\assets\images\cart.png" alt="cart" height="30px" width="30px">
          <img src="..\assets\images\menu.png" class="menu-icon" (click)="clickMenu()">
      </div>
  </div>
</div>
<div class="spacer">
   &nbsp;
</div>


<!-- Main Content -->
<router-outlet (activate)="onActivate()"></router-outlet>


<!-- -------footer------- -->

<div class="footer">
  <div class="container">
      <div class="row">
          <div class="footer-col-1">
              <h3>Download Our App</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing</p>
              <div class="app-logo">
                  <img src="..\assets\images\play-store.png">
                  <img src="..\assets\images\app-store.png">
              </div>
          </div>
          <div class="footer-col-2">
              <img src="..\assets\images\logo-3.png" alt="">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing Lorem, ipsum dolor.</p>
          </div>
          <div class="footer-col-3">
              <h3>Useful Links</h3>
              <ul>
                  <li>Coupons</li>
                  <li>Blog Post</li>
                  <li>Return Policy</li>
                  <li>Join Us</li>
              </ul>
          </div>
          <div class="footer-col-4">
              <h3>Follow us</h3>
              <ul>
                  <li>Facebook</li>
                  <li>Twitter</li>
                  <li>Instagram</li>
                  <li>YouTube</li>
              </ul>
          </div>
      </div>
      <hr>
      <p class="copyright">Copyright 2022 - PolyAttire</p>
  </div>
</div>